@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@inject TwMerge TwMerge

<ShadcnKeyCode AnchorId="@Id"
               Only="[KeyCode.Home, KeyCode.End, KeyCode.Up, KeyCode.Down]"
               OnKeyDown="OnKeyDownHandlerAsync"
               PreventDefault="true" />
<div id="@Id"
     class="@(TwMerge.Merge(ClassValue))"
     style="@Style"
     data-orientation="@Orientation.ToAttributeValue(false)"
     @ref="Ref"
     @attributes="Attributes">
    <CascadingValue Value="_context" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    /// <summary>
    /// Determines whether a "single" or "multiple" items can be selected at a time.
    /// Jika <c>false</c>, hanya satu item yang bisa terbuka dalam satu waktu.
    /// </summary>
    [Parameter]
    public SingleOrMultiple Type { get; set; }

    /// <summary>
    /// When type is "single", allows closing content when clicking trigger for an open item.
    /// When type is "multiple", this prop has no effect.
    /// </summary>
    [Parameter]
    public bool Collapsible { get; set; }

    /// <summary>
    /// When `true`, prevents the user from interacting with the accordion and all its items
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// The reading direction of the accordion when applicable. If omitted, assumes LTR (left-to-right) reading mode.
    /// </summary>
    [Parameter]
    public Direction Direction { get; set; } = Direction.LTR;

    /// <summary>
    /// Event handler called when the expanded state of an item changes
    /// </summary>
    [Parameter]
    public EventCallback<string> OnActiveChanged { get; set; }

    /// <summary>
    /// The orientation of the accordion. Not supported.
    /// </summary>
    public Orientation Orientation { get; } = Orientation.Vertical;
}
