@namespace ShadcnBlazor
@inherits Primitive

<div data-popper-content-wrapper @ref="_popperRef" style="@StyleValue">
    <Primitive Id="@Id"
               Class="@Class"
               Style="@Style"
               StyleType="@StyleType"
               ForwardRef="@ForwardRef"
               RefChanged="HandlePopperRefChanged"
               PreventDefault="PreventDefault"
               StopPropagation="StopPropagation"
               As="@As"
               Ref="@Ref"
               @attributes="Attributes">
        @ChildContent
    </Primitive>
</div>

@code {
    [CascadingParameter]
    PopperRootContext? RootContext { get; set; }

    [Parameter]
    public PopperSide Side { get; set; } = PopperSide.Bottom;

    [Parameter]
    public PopperAlign Align { get; set; } = PopperAlign.Center;

    [Parameter]
    public int SideOffset { get; set; } = 0;

    [Parameter]
    public int AlignOffset { get; set; } = 0;

    [Parameter]
    public PopperStrategy Strategy { get; set; } = PopperStrategy.Fixed;

    [Parameter]
    public ElementReference? Reference { get; set; }

    [Parameter]
    public EventCallback? OnPlaced { get; set; }

    [Parameter]
    public PopperAutoUpdateOptions AutoUpdateOptions { get; set; } = new();

    string DesiredPlacement => Side.ToAttributeValue(false) + (Align != PopperAlign.Center ? "-" + Align.ToAttributeValue(false) : string.Empty);
    string PlacedSide => DesiredPlacement.Split("-")[0];
    string PlacedAlign => DesiredPlacement.Split("-")[1];
}