@namespace ShadcnBlazor.Docs
@inherits ShadcnComponentBase

<div class=@ClassValue style="@Style" @attributes=Attributes>
    <div class="relative w-full rounded-md [&_pre]:my-0 [&_pre]:max-h-[350px] [&_pre]:overflow-auto">
        <div class="absolute mt-4 mr-4 top-0 end-0 flex items-center gap-2">
            <span class="text-xs">@Language.FastString()</span>
            <DocsClipboardButton CodeTarget="@Id" />
        </div>
        <pre class="max-h-[650px] overflow-x-auto rounded-xl" tabindex="0">
            <code id="@Id" class="@GetLang() relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm" @ref="Ref">
                @if (!string.IsNullOrWhiteSpace(Path) && !string.IsNullOrWhiteSpace(_codeContent))
                {
                    @_codeContent
                }
                else if(ChildContent!=null)
                {
                    @ChildContent
                }
                else
                {
                    @Code
                }
            </code>
    </pre>
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets the programming language used for code highlighting.
    /// The default value is <see cref="CodeLanguage.CSHTML"/>.
    /// </summary>
    [Parameter]
    public CodeLanguage Language { get; set; } = CodeLanguage.CSHTML;

    /// <summary>
    /// Gets or sets the URL of an external source from which the code content will be fetched.
    /// If provided, an HTTP client will be used to fetch the content.
    /// </summary>
    [Parameter]
    public string? Path { get; set; }

    [Parameter]
    public string? Code { get; set; }

    /// <summary>
    /// An event callback that is invoked when the content from the <see cref="Url"/> is loaded.
    /// The callback provides the fetched content as a string.
    /// </summary>
    [Parameter]
    public EventCallback<string> OnLoad { get; set; }

    string? ClassValue
    {
        get
        {
            return new CssBuilder()
                .AddClass($"language-{Language.FastString()}")
                .AddClass(Class)
                .AddClass("flex flex-col space-y-4")
                .Build();
        }
    }

    string GetLang()
    {
        return Language switch
        {
            CodeLanguage.Text => "",
            CodeLanguage.Bash => "language-bash",
            CodeLanguage.CSHTML => "language-cshtml-razor",
            CodeLanguage.CSS => "language-css",
            CodeLanguage.JavaScript => "language-js",
            CodeLanguage.JSON => "language-json",
            CodeLanguage.XML => "language-xml",
            _ => ""
        };
    }
}