@namespace ShadcnBlazor
@inherits ShadcnComponentBase

<CascadingValue Value="_context" IsFixed="true">
    <div id="@Id"
         class="@Class"
         style="@Style"
         data-state="@OpenValue"
         data-disabled="@Disabled"
         @ref="Ref"
         @attributes="Attributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    bool _open;

    [Parameter]
    public bool Open
    {
        get => _open; set
        {
            if (_open != value)
            {
                _open = value;
                OpenChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    public async Task ToggleOpenAsync()
    {
        if (!Disabled)
        {
            Open = !Open;
            await InvokeAsync(StateHasChanged);
        }
    }

    string OpenValue => Open ? "open" : "closed";
}