@namespace ShadcnBlazor
@inherits ShadcnLinkBaseComponent
@inject TwMerge TwMerge

<div id="@Id"
     class="@(TwMerge.Merge(ClassValue))"
     style="touch-action: none; user-select: none;"
     role="separator"
     data-resize-handle
     tabindex="@TabIndex"
     data-state="@_resizeHandleState.ToString().ToLower()"
     data-disabled="@(Disabled ? "" : null)"
     data-orientation="@Direction.ToString().ToLower()"
     data-panel-group-id="@GroupId"
     data-resizeresizeHandleShandle-active="@(_resizeHandleState == ResizeHandleState.Drag ? "pointer" : _isFocused ? "keyboard" : null)"
     data-resiresizeHandleSe-handle-state="@_resizeHandleState.ToString().ToLower()"
     data-panel-resize-handle-enabled="@(!Disabled)"
     data-panel-resize-handle-id="@Id"
     @ref="Ref"
     @attributes="Attributes">
</div>

@code {
    const string NewYorkClasses = "relative flex w-px items-center justify-center bg-border after:absolute after:inset-y-0 after:left-1/2 after:w-1 after:-translate-x-1/2 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset-1 [&[data-orientation=vertical]]:h-px [&[data-orientation=vertical]]:w-full [&[data-orientation=vertical]]:after:left-0 [&[data-orientation=vertical]]:after:h-1 [&[data-orientation=vertical]]:after:w-full [&[data-orientation=vertical]]:after:-translate-y-1/2 [&[data-orientation=vertical]]:after:translate-x-0 [&[data-orientation=vertical]>div]:rotate-90";

    string? ClassValue => new CssBuilder(NewYorkClasses).Build();

    [CascadingParameter]
    ResizablePanelGroupContext? GroupContext { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public PointerHitAreaMargins HitAreaMargins { get; set; } = new(15, 5);

    [Parameter]
    public int TabIndex { get; set; }

    [Parameter]
    public bool WithHandle { get; set; } = true;

    [Parameter]
    public EventCallback<bool> OnDragging { get; set; }
}