@namespace ShadcnBlazor
@inherits ShadcnComponentBase
@using TailwindMerge
@inject TwMerge TwMerge

<div id="@ContentId"
     class="@(TwMerge.Merge(ClassValue))"
     style="@Style"
     role="tabpanel"
     data-state="@DataState"
     data-orientation="@Orientation"
     aria-labelledby="@TriggerId"
     hidden="@Hidden"
     tabindex="0"
     @ref=Ref
     @attributes=Attributes>
    @ChildContent
</div>

@code {
    const string DefaultClasses = "mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2";

    [CascadingParameter]
    TabsContext? Context { get; set; }

    [Parameter, EditorRequired]
    public string? Value { get; set; }

    string TriggerId => TabsUtils.MakeTriggerId(Context?.BaseId, Value);
    string ContentId => TabsUtils.MakeContentId(Context?.BaseId, Value);
    bool IsSelected => Value == Context?.Value;
    string? Orientation => Context?.Orientation.ToAttributeValue(false);
    bool Hidden => !IsSelected;
    string? DataState => IsSelected ? "active" : "inactive";

    string? ClassValue => new CssBuilder(Class).AddClass(DefaultClasses).Build();
}